---
---

$link-color: #876;

/* Reset */

html, body, h1, h2, p, div, section {
  margin: 0;
  padding: 0;
}

/* Background Image */

.bg-wrapper {
  background-color: #222;
}

.bg {
  opacity: 0;
  transition: opacity 1s ease-out;
  img {
    display: none;
  }
}

.bg.full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg.loaded {
  opacity: 1;
}

/* Common */

html,
body,
.container {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  color: #444;
}

p {
  margin-bottom: 15px;
  line-height: 1.8;
}

.serif p {
  font-family: "Kotta One", serif;
}

a {
  color: $link-color;
}

blockquote {
  display: block;
  max-width: 640px;
  margin: 15px auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.3);  
  color: #e1e1e1;
  font-family: "Kotta One", serif;
  font-size: 22px;
  line-height: 28px;
}

.button {
  display: inline-block;
  padding: 6px 10px;
  color: #cafaea;
  border: 1px solid #cafaea;
  border-radius: 5px;
  font: 18px/23px "Cantarell", sans-serif;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
