---
---

body {
  background-color: #faf7f1;
}

.bg.section {
  width: 100%;
  height: 550px;
  background: no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}

section {
  padding: 48px;
  .content {
    margin: 0 auto;
    max-width: 640px;
    p {
      line-height: 1.8;
    }
  }
}
