---
---

/* For vertical / horizontal centering */

html, body, .container {
  height: 100%;
}

.container {
  display: table;
  padding-top: 80px;
  width: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Background Image */

#bg {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  transition: opacity 2s ease-in;
  img {
    display: none;
  }
}

#bg.loaded {
  opacity: 1;
}

/* Elements */

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
  line-height: 70px;
  text-shadow: 0 0 8px #ddd;
}

h2 {
  margin: 50px auto;
}

.sub-title {
  margin: 50px auto;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 6px 10px;
  color: #cafaea;
  border: 1px solid #cafaea;
  border-radius: 5px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

#more-content {
  display: none;
}
