---
---

/* For vertical / horizontal centering */

body {
  color: #ffffff;
  background-color: #222;
  font: 18px/23px "Cantarell", sans-serif;
}

.container {
  display: table;
  padding-top: 80px;
}

section {
  text-align: center;
  width: 100%;
  &.top {
    position: fixed;
    top: 100px;
  }
  &.bottom {
    position: fixed;
    bottom: 80px;
  }
}

/* Elements */

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
  line-height: 70px;
  text-shadow: 0 0 8px #ddd;
}

h2 {
  margin: 20px auto;
}

h2, p {
  text-shadow: 0 0 5px #444;
}

a {
  color: #ffffff;
}
