---
---

/* For vertical / horizontal centering */

html, body, .container {
  height: 100%;
}

.container {
  display: table;
  padding-top: 80px;
  width: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Elements */

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
  line-height: 70px;
  text-shadow: 0 0 8px #ddd;
}

h2 {
  margin: 50px auto;
}
