---
---

<div class="bg full">
  <img src="/images/mandarin_oriental_dark.jpg" />
</div>
<div class="container">
  <blockquote>
    <p>
      My wife, Izumi Ejima, after 8 months of battle against cancer, passed away on September 6th, 2015.
    </p>
    <p>
      If you have anything to share about her, please contact me at {% include email.html %}. Photos or any forms of remembrance are appreciated.
    </p>
    <p>
      妻、江島以都美（旧姓名：古賀以都美）は、病気の発覚から8ヶ月の闘病の末、2015年9月6日に他界しました。享年40歳でした。
    </p>
    <p>
      本人の希望により、4月の再発後のことはごく一部の人以外には詳細を伏せておりましたので、<a href="http://ovarian.hatenablog.com">闘病ブログ</a>をみて元気になったものと思われていた方にとっては突然のご報告となってしまったことをお許し下さい。
    </p>
    <p>
      存命中、お世話になった病院のスタッフのみなさま、無理なお願いにもかかわらずご協力いただいた方々、毎日のように応援メッセージを送ったり香川県までお見舞いにきてくださったご友人のみなさま、本人に代わりまして厚くお礼申し上げます。
    </p>
    <p>
      また葬儀後、悲嘆に暮れる私のためにやさしい言葉をかけてくださったり、お花やお供え物を贈っていただいたり、遠方からなぐさめに来てくださった方まで、たくさんの方々に支えていただいております。
    </p>
    <p>
      色々とお伝えしたいことがあるのですが、まだ言葉になりません。私にとって以都美の存在はあまりに大きく、人生の伴侶というより人生の全てでした。ともに過ごした時間は互いの生家の家族よりも長く、高校を卒業して京都の大学に通い始めてすぐの頃に出会ってからの21年間の何もかもを一緒に見、聞き、経験してきました。
    </p>
    <p>
      毎日欠かさず詳細につけてきた闘病中の日々の記録も手元にあり、以都美の後半生すべてを最後の一呼吸まで見届けた者の責務として、近日中にこのサイトでまとめたいと思っています。このミッションだけが、いまの私を現世につなぎとめているものです。つらい記憶ですが、愛に満ちた濃厚な日々でもありました。
    </p>
    <p>
      今は以都美とともに過ごした日々について、思い出の引き出しを開けていくことが何よりの慰めです。
    </p>
    <p>
      Flickr上に写真集を作成中ですので、もし皆様やお知り合いのなかに以都美の写真や動画などをお持ちの方がいらっしゃったら以下までお寄せください。
    <p>
    <p>
      <a href="/para/">写真はこちらから</a>
    </p>
    <p>769-2302 香川県さぬき市長尾西1737-3</p>
    <p>{% include email.html %}</p>
    <p>江島健太郎</p>
  </blockquote>
</div>
