<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>In Memory of Izumi Ejima</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Kenn Ejima">
    <meta name="description" content="Memorial site for Izumi Ejima / 江島以都美 / 古賀以都美.">
    <link href="http://fonts.googleapis.com/css?family=Kotta+One|Cantarell:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/hover.css">
    <link rel="stylesheet" href="/css/base.css">
    {% assign components = page.path | split: '/' %}
    {% assign basename = components[0] | remove: '.html' %}
    {% if basename == 'index' %}
        <link rel="stylesheet" href="/css/index.css">
    {% else %}
        <link rel="stylesheet" href="/css/{{ basename }}.css">
    {% endif %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/base.js"></script>
  </head>
  <body>
    {{ content }}
    {% include ga.html %}
  </body>
</html>
